---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Giuseppe Cascavilla</div>
    <div class="text-3xl py-3 font-bold">Assistant Professor and Cybersecurity expert</div>
    <div class="py-2">
      <text class="text-lg">
        I am Assistant Professor at the <a href="https://www.jads.nl/"><b>Jheronimus Academy of Data Science</b></a>, 
        a collaboration between Tilburg University and Eindhoven Technical University.

        <p>&nbsp;</p> 

        In 2018 I received a Ph.D. from Sapienza - Universitá di Roma advised by <a href="https://sites.google.com/di.uniroma1.it/mancini"><b>Prof. 
        Luigi Vincenzo Mancini</b></a> and Co-supervised by <a href="https://www.jads.nl/"><b>Prof. Mauro Conti</b></a> from the University of Padova with a thesis 
        entitled Privacy issues in Online Social Networks.

        <p>&nbsp;</p> 

        At JADS, I teach the courses of Data Forensics and Cybersecurity. 
        The former aims to explore the hidden side of the web and find approaches to fight cybercrime. 
        At the same time, the latter is meant to understand and practice attacks and defense techniques 
        to contain criminal activities like malware, phishing, and man-in-the-middle attacks. 
        My research interests lie mainly in monitoring cybercriminal activities surface-deep-dark web, 
        cyber threat intelligence, protection of cyber-physical spaces, Natural Language Processing in the context of cybersecurity, 
        user profiling from social media activities, and reidentifying personal emotions. 
        <br>
        I am an active contributor and researcher in many EU FP7 and H2020 projects, such as the ANITA project focusing 
        on evolutionary and collaborative software technology for digital and cybercrime- fighting, 
        PRoTECT to strengthen local authorities' capabilities in Public Protection, 
        VISOR project for smart event safety, CRIMSON for the protection of Rotterdam Harbor, Marit-D, and more.

        <p>&nbsp;</p>      

        Active member of 



      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div>
  </div> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div> -->

  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
