---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GHQNCCNPV0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GHQNCCNPV0');
</script>
<!-- Google tag (gtag.js) -->




<BaseLayout title="Publications" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications ⚛</div>
  </div>

  <p>&nbsp;</p> 


  <div>
    <div class="text-3xl w-full font-bold mb-5">Journal Papers</div>
  </div>

  <!-- <HorizontalCard
    title="Service 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    badge="NEW"
    url="#"
  /> -->
  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Rise of Cybercrime and Cyber-Threat Intelligence: Perspectives and Challenges From Law Enforcement"
    desc="G. Cascavilla. In IEEE Security & Privacy, doi: 10.1109/MSEC.2024.3407859, 2024".
    url="https://ieeexplore.ieee.org/document/10558720"
    badge="NEW"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="The applicability of a hybrid framework for automated phishing detection"
    desc="R.J. van Geest, G. Cascavilla, J. Hulstijn, N. Zannone. Computers & Security, 2024"
    url="/papers/phishing.pdf"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Counter-terrorism in cyber–physical spaces: Best practices and technologies from the state of the art"
    desc="G. Cascavilla, D. A. Tamburri, F. Leotta, M. Mecella, WJ. Van Den Heuvel. Information and Software Technology, 2023"
    url="/papers/Counter-terrorism.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Real-world K-Anonymity applications: The KGen approach and its evaluation in fraudulent transactions"
    desc="D. De Pascale, G. Cascavilla, D. A. Tamburri, WJ. Van Den Heuvel. Information Systems, 2023"
    url="/papers/KGen.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Internet-of-things architectures for secure cyber–physical spaces: The VISOR experience report"
    desc="D. De Pascale, G. Cascavilla, M. Sangiovanni, D. A. Tamburri, WJ. van den Heuvel. Journal of Software Evolution and Process, 2023"
    url="/papers/visor.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Cybercrime threat intelligence: A systematic multi-vocal literature review"
    desc="G. Cascavilla, D. A. Tamburri, WJ. Van Den Heuvel. Computers & Security, 2021"
    url="/papers/cyberthreatintelligence.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="OSSINT - Open Source Social Network Intelligence: An efficient and effective way to uncover “private” information in OSN profiles"
    desc="G. Cascavilla, F. Beato, A. Burattin, M. Conti, L. V. Mancini. Online Social Networks and Media, 2018"
    url="=/papers/ossint.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The insider on the outside: a novel system for the detection of information leakers in social networks"
    desc=" G. Cascavilla, M. Conti, D. G. Schwartz, I. Yahav. European Journal of Information Systems, 2017"
    url="/papers/informationleakers.pdf"
  />


  <div>
    <div class="text-3xl w-full font-bold mb-5">Conference Papers</div>
  </div>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CRATOR a CRAwler for TOR: Turning Dark Web Pages Into Open Source INTelligence"
    desc="D. De Pascale, G. Cascavilla, D. A. Tamburri, WJ. Van Den Heuvel. ESORICS. 2024"
    url="#"
    badge="NEW"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Violence Detection: A Serious-Gaming Approach"
    desc="D. Elzinga, S. Ruessink, G. Cascavilla, D. Tamburri, F. Leotta, M. Mecella, WJ. Van Den Heuvel. 21st International Conference on Security and Cryptography - SECRYPT, 2024"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="BigData Fusion for Trajectory Prediction of Multi-Sensor Surveillance Information Systems"
    desc="G. Cascavilla, A. Cuzzocrea, D. Pascale, M. Omidbakhsh and D. Tamburri. IEEE International Conference on Big Data (BigData), 2023"
    url="/papers/TrajectoryPrediction.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="When the Few Outweigh the Many: Illicit Content Recognition with Few-Shot Learning"
    desc="G. Cascavilla, G. Catolino; M. Conti, D. Mellios, D. A. Tamburri. 20th International Conference on Security and Cryptography - SECRYPT, 2023"
    url="/papers/Few-ShotLearning.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Explaining IoT Attacks: An Effective and Efficient Semi-Supervised Learning Framework"
    desc="G. Cascavilla, R. Zwart, D. A. Tamburri and A. Cuzzocrea. IEEE International Conference on Big Data (Big Data), 2022"
    url="/papers/IoT_Attacks.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SENSEI: Scraper for ENhanced AnalySis to Evaluate Illicit Trends"
    desc="D. De Pascale, G. Cascavilla, D. A. Tamburri, WJ. Van Den Heuvel. Service-Oriented Computing - ICSOC, 2022"
    url="/papers/sensei.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Securing Cyber-Physical Spaces with Hybrid Analytics: Vision and Reference Architecture"
    desc="D. De Pascale, M. Sangiovanni, G. Cascavilla, D. A. Tamburri, WJ. Van Den Heuvel. ESORICS. 2022"
    url="/papers/SecuringCyber-PhysicalSpaces.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="''When the Code becomes a Crime Scene'' Towards Dark Web Threat Intelligence with Software Quality Metrics"
    desc="G. Cascavilla, G. Catolino, F. Ebert, D. A. Tamburri and W. J. van den Heuvel. IEEE International Conference on Software Maintenance and Evolution (ICSME). 2022"
    url="/papers/Crime_Scene.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Illicit Darkweb Classification via Natural-language Processing: Classifying Illicit Content of Webpages based on Textual Information"
    desc="G. Cascavilla, G. Catolino, M. Sangiovanni. 19th International Conference on Security and Cryptography - SECRYPT. 2022"
    url="/papers/DarkwebClassificationNLP.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Unsupervised Labor Intelligence Systems: A Detection Approach and Its Evaluation"
    desc="G. Cascavilla, G. Catolino, F. Palomba, A.S. Andreou, D. A. Tamburri, WJ Van Den Heuvel. Service-Oriented Computing - SummerSOC. 2022"
    url="/papers/LaborIntelligenceSystems.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Counterterrorism for Cyber-Physical Spaces: A Computer Vision Approach"
    desc="G. Cascavilla, J. Slabber, F. Palomba, D. Di Nucci, D. A. Tamburri, WJ van den Heuvel. International Conference on Advanced Visual Interfaces (AVI'20). 2020"
    url="/papers/ComputerVisionApproach.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Services Computing for Cyber-Threat Intelligence: The ANITA Approach"
    desc="D. De Pascale, G. Cascavilla, D. A. Tamburri, WJ van den Heuvel. Service-Oriented and Cloud Computing, ESOCC. 2020"
    url="/papers/ANITAApproach.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Identifying Emotions in Social Media: Comparison of Word-emotion lexicons"
    desc="E. Kusen, G. Cascavilla, K. Figl, M. Strembeck, M. Conti. In IEEE 5th International Conference on Future Internet of Things and Cloud Workshops (FiCloudW). 2017"
    url="/papers/EmotionsSocialMedia.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="On the influence of emotional valence shifts on the spread of information in social networks"
    desc="E. Kusen, G. Cascavilla, K. Figl, M. Conti and M. Strembeck. International Conference on Advances in Social Networks Analysis and Mining. 2017"
    url="/papers/EmotionalValenceShifts.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Revealing censored information through comments and commenters in online social networks"
    desc="G. Cascavilla, M. Conti, D. G. Schwartz, I. Yahav. International Conference on Advances in Social Networks Analysis and Mining (ASONAM). 2015"
    url="/papers/censored_info.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SocialSpy: Browsing (Supposedly) Hidden Information in Online Social Networks"
    desc="A. Burattin, G. Cascavilla, M. Conti. Risks and Security of Internet and Systems - CRiSIS. 2014"
    url="/papers/socialspy.pdf"
  />


  <div>
    <div class="text-3xl w-full font-bold mb-5">Book Chapters</div>
  </div>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Data Engineering in Action. "
    desc="Book Title: Data Science for Entrepreneurship. G. Cascavilla, S. Dalla Palma, S. Driessen, WJ van den Heuvel, D. De Pascale, et al. 2023"
    url="https://link.springer.com/book/10.1007/978-3-031-19554-9"
  />


</BaseLayout>
