<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <!-- <a
        href="https://manuelernestog.github.io/support-my-work/"
        target="_blank"
        class="mx-3"
        aria-label="Support my work"
        title="Support my work"
    > -->
        <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5 2h2v3H5zm4 0h2v3H9zm4 0h2v3h-2zm6 7h-2V7H3v11c0 1.654 1.346 3 3 3h8c1.654 0 3-1.346 3-3h2c1.103 0 2-.897 2-2v-5c0-1.103-.897-2-2-2zm-4 9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9h10v9zm2-2v-5h2l.002 5H17z"
            ></path></svg
        >
    </a>
    <a href="https://github.com/manuelernestog" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
        </svg>
    </a> -->
    <a
    href="https://scholar.google.nl/citations?user=sovWJZEAAAAJ&hl=it"
    target="_blank"
    class="mx-3"
    aria-label="GoogleScholar"
    title="GoogleScholar"
>    
        <svg 
            height="32" 
            viewBox="0 0 24 32" 
            width="24" 
            xmlns="http://www.w3.org/2000/svg">
            <path d="M21.485 6.666V4.964L22.72 4h-13.368L1.28 11.017h5.354a5.125 5.125 0 0 0 -0.014 0.389c0 1.303 0.451 2.38 1.355 3.241 0.903 0.862 2.016 1.29 3.333 1.29 0.308 0 0.609 -0.023 0.902 -0.064 -0.182 0.406 -0.273 0.783 -0.273 1.134 0 0.617 0.281 1.277 0.842 1.978 -2.452 0.167 -4.254 0.608 -5.402 1.323 -0.658 0.406 -1.188 0.919 -1.587 1.533 -0.399 0.619 -0.599 1.282 -0.599 1.998 0 0.603 0.129 1.146 0.389 1.629 0.26 0.483 0.599 0.879 1.02 1.187 0.42 0.31 0.904 0.569 1.451 0.779 0.546 0.209 1.088 0.357 1.629 0.441A10.438 10.438 0 0 0 11.285 28c0.842 0 1.685 -0.108 2.534 -0.324 0.848 -0.218 1.643 -0.54 2.386 -0.968 0.741 -0.425 1.345 -1.005 1.808 -1.732 0.462 -0.73 0.693 -1.55 0.693 -2.458 0 -0.689 -0.141 -1.315 -0.422 -1.884 -0.279 -0.567 -0.621 -1.034 -1.028 -1.397 -0.406 -0.363 -0.813 -0.697 -1.22 -0.998 -0.406 -0.303 -0.75 -0.609 -1.029 -0.926 -0.28 -0.315 -0.421 -0.628 -0.421 -0.936 0 -0.308 0.108 -0.605 0.326 -0.892 0.216 -0.288 0.48 -0.566 0.788 -0.832 0.309 -0.266 0.617 -0.56 0.925 -0.883 0.308 -0.322 0.571 -0.739 0.788 -1.25 0.218 -0.511 0.325 -1.09 0.325 -1.735 0 -0.841 -0.159 -1.529 -0.472 -2.082 -0.037 -0.064 -0.076 -0.113 -0.117 -0.189l3.557 -2.917v1.07c-0.462 0.058 -0.414 0.334 -0.414 0.665V15.373c0 0.372 0.305 0.677 0.677 0.677h0.249c0.372 0 0.677 -0.305 0.677 -0.677V7.331c0 -0.33 0.049 -0.606 -0.41 -0.664m-6.71 13.905c0.071 0.047 0.232 0.174 0.482 0.377 0.253 0.203 0.425 0.356 0.517 0.463a27.75 27.75 0 0 1 0.399 0.472c0.176 0.211 0.295 0.394 0.357 0.546q0.094 0.232 0.19 0.559a2.394 2.394 0 0 1 0.093 0.66c0 1.065 -0.41 1.855 -1.228 2.366 -0.82 0.511 -1.798 0.767 -2.934 0.767 -0.574 0 -1.138 -0.068 -1.691 -0.2 -0.553 -0.132 -1.082 -0.334 -1.587 -0.6 -0.505 -0.266 -0.911 -0.638 -1.219 -1.112 -0.309 -0.477 -0.463 -1.026 -0.463 -1.641 0 -0.645 0.175 -1.206 0.526 -1.682 0.35 -0.477 0.809 -0.837 1.377 -1.082 0.566 -0.247 1.141 -0.421 1.723 -0.525a9.875 9.875 0 0 1 1.777 -0.16c0.279 0 0.496 0.016 0.65 0.043 0.028 0.014 0.19 0.129 0.483 0.348 0.294 0.216 0.477 0.35 0.547 0.399zm-0.21 -6.286c-0.463 0.554 -1.108 0.831 -1.935 0.831 -0.741 0 -1.394 -0.298 -1.954 -0.894 -0.563 -0.595 -0.964 -1.27 -1.209 -2.027 -0.246 -0.757 -0.369 -1.499 -0.369 -2.228q0 -1.284 0.674 -2.186c0.449 -0.603 1.094 -0.905 1.934 -0.905 0.742 0 1.398 0.315 1.965 0.947 0.568 0.63 0.976 1.338 1.22 2.123 0.245 0.784 0.367 1.533 0.367 2.249 0 0.84 -0.231 1.538 -0.692 2.091z" 
        stroke-width="0.0040491875"/>
        </svg>
    </a>


    <a
        href="https://www.linkedin.com/in/giuseppecascavilla"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
        title="Linkedin"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
            ></path>
        </svg>
    </a>


    <a
        href="https://github.com/giuseppecascavilla/giuseppecascavilla.github.io"
        target="_blank"
        class="mx-3"
        aria-label="GitHub"
        title="GitHub"
    >
<svg width="24px" 
height="24px" 
viewBox="0 0 24 24" 
xmlns="http://www.w3.org/2000/svg">
<path 
fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
/>
</svg>
    </a>










    <a href="https://twitter.com/giuseppe_cas" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
        <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
            ></path>
        </svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" 
        shape-rendering="geometricPrecision" 
          text-rendering="geometricPrecision" 
          image-rendering="optimizeQuality" 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          viewBox="0 0 24 23.888" 
          width="24" height="23.888">
          <path width="512" height="509.64" rx="115.61" ry="115.61" d="M5.419 0h13.161A5.418 5.418 0 0 1 24 5.419V18.471a5.418 5.418 0 0 1 -5.419 5.419H5.419A5.418 5.418 0 0 1 0 18.471V5.419A5.418 5.418 0 0 1 5.419 0"/><path fill="#fff" fill-rule="nonzero" d="M15.174 6.954h1.694l-3.699 4.228 4.35 5.754h-3.407l-2.669 -3.488 -3.054 3.488H6.696l3.956 -4.521 -4.174 -5.458h3.495l2.413 3.189zm-0.594 8.969h0.938l-6.055 -8.008H8.455z"/>
        </svg>
    </a>
    

    <!-- <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a> -->
</div>
